<link rel='stylesheet' href='/css/user.css' />

<h3>회원가입</h3>
<form action="/signup" method="post">
    <table>
        <tr>
            <td>아이디 : </td>
            <td>
                <input type="text" name="userID" id="userID" autocomplete='off' onblur="checkID(this)" maxlength='15'>
            </td>
            <td class="check-user checkID"></td>
        </tr>
        <tr>
            <td>비밀번호 : </td>
            <td>
                <input type="password" name="userPW" id="userPW" onblur="checkPW(this)" maxlength='15'>
            </td>
            <td class="check-user checkPW"></td>
        </tr>
        <tr>
            <td>비밀번호 확인 : </td>
            <td><input type="password" name="confirmPW" id="confirmPW" onblur="checkPW2(this)" maxlength='15'></td>
            <td class="check-user checkPW2"></td>
        </tr>
        <tr>
            <td>가입코드 : </td>
            <td>
                <input type="text" name="code" id="code" autocomplete='off' onblur="" maxlength='15'>
            </td>
            <td class=""></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="회원가입">
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript" src="/js/user/signup.js"></script>