<link rel='stylesheet' href='/css/user.css' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h3>회원가입</h3>
<form action="" method="post">
    <table>
        <tr>
            <td>아이디 : </td>
            <td>
                <input type="text" name="userID" id="userID" autocomplete='off' onblur="checkID(this)" maxlength='15'>
            </td>
            <td class="check-user checkID"></td>
        </tr>
        <tr>
            <td>비밀번호 : </td>
            <td>
                <input type="password" name="userPW" id="userPW" onblur="checkPW(this)" maxlength='15'>
            </td>
            <td class="check-user checkPW"></td>
        </tr>
        <tr>
            <td>비밀번호 확인 : </td>
            <td>
                <input type="password" name="checkUserPW" id="checkUserPW" onblur="confirmPW(this)" maxlength='15'>
            </td>
            <td class="check-user confirmPW"></td>
        </tr>
        <tr>
            <td>가입코드 : </td>
            <td>
                <input type="text" name="joinCode" id="joinCode" autocomplete='off' onblur="" maxlength='15'>
            </td>
            <td class=""></td>
        </tr>
        <tr>
            <td class="check-user alertUser"></td>
        </tr>
        <tr>
            <td>
                <button type="button" onclick="signup()">회원가입</button>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript" src="/js/user/signup.js"></script>