<h3>회원 가입</h3>
<form action="/users/sign_up" method="post">
    <table>
        <tr>
            <td>아이디 : </td>
            <td><input type="text" name="userID" class="userID" oninput="handleOnInput(this)" onblur="checkID(this)"></td>
        </tr>
        <tr>
            <td>비번 : </td>
            <td><input type="password" name="userPW" class="userPW"></td>
        </tr>
        <tr>
            <td><input type="submit" value="회원가입"></td>
        </tr>
    </table>
</form><h3>로그인</h3>
<form action="/users/sign_in" method="post">
    <table>
        <tr>
            <td>아이디 : </td>
            <td><input type="text" name="userName"></td>
        </tr>
        <tr>
            <td>비번 : </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="로그인"></td>
        </tr>
    </table>
</form>
<script type="text/javascript" src="/js/login.js"></script>
